@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Protest Riot', sans-serif;
    /* height: 100vh;
    width: 100vw; */
}

.main__section1 {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    gap: 20px;
    width: 400px;
}

.div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.flash {
    background-color: #000;
}

.main__section2 {
    background-color: steelblue;
}



.main__section3 {
    background-color: aqua;
}